[submodule "server/websocketpp"]
	path = server/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "server/mongoose-cpp"]
	path = server/mongoose-cpp
	url = https://github.com/Gregwar/mongoose-cpp
