[submodule "server/websocketpp"]
	path = server/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "server/cpp-httplib"]
	path = server/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "server/IXWebSocket"]
	path = server/IXWebSocket
	url = https://github.com/machinezone/IXWebSocket
